<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/br_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/br_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BikeRentingDAPP"
        tools:targetApi="31">
        <activity
            android:name=".BikeManagement.ViewAgreementActivity"
            android:exported="false" />
        <activity
            android:name=".BikeManagement.SingleViewActivity"
            android:exported="false" />
        <activity
            android:name=".BikeManagement.AddBikeActivity"
            android:exported="false" />
        <activity
            android:name=".WalletManagement.SendETHActivity"
            android:exported="false" />
        <activity
            android:name=".WalletManagement.ViewWalletActivity"
            android:exported="false" />
        <activity
            android:name=".WalletManagement.CreateWalletActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".UserManagement.UserProfilePage"
            android:exported="false" />
        <activity
            android:name=".UserManagement.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>